.btn
	border-radius: 4px
	@extend %l_flex--center
	transition: $transition-time
	&--light
		background: $primary-light
		border: 1px solid $primary-blue
		box-shadow: inset 0 1px 1px 0 rgba($primary-dark, 0.11)
		color: $primary-blue
		&:hover
			background: $primary-blue
			color: $primary-light
			&:before,
			&:after
				background: $primary-light
	&--blue
		height: 34px
		box-shadow: 0 3px 7px 0 rgba(61, 97, 255, 0.27), inset 0 1px 1px 0 rgba($primary-dark, 0.11)
		background-color: #3d61ff
		@include font-size(18)
		font-weight: $weight-semibold
		letter-spacing: 0.011em
		color: $primary-light
		padding: 0 38px
		text-transform: uppercase
		&:hover
			opacity: 0.7

.back-link
	position: absolute
	left: 38px
	font-weight: $weight-bold
	font-size: 12.6px
	letter-spacing: 0.008em
	height: 27px
	padding: 0 20px
	&:before,
	&:after
		left: 11px
		content: ''
		position: absolute
		background: $primary-blue
		height: 6px
		width: 1px
		transition: $transition-time
	&:before
		top: 12px
		transform: rotate(135deg)
	&:after
		top: 8px
		transform: rotate(225deg)

.more-info
	width: 25px
	height: 25px
	border-radius: $round
	@extend %l_flex--space-between
	background: $primary-light
	padding: 4px
	&__dot
		height: 3px
		width: 3px
		background-color: rgba($primary-dark, 0.21)
		border-radius: $round

.edit
	margin-left: 18px


