doctype html
html
  head
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no")
    meta(name="HandheldFriendly" content="true")
    meta(charset="utf-8")
    link(rel="stylesheet" href="./css/core.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet")
    title Rademade Test

  body
    block content

