.search
	height: 100%
	@extend %l_flex--align-center
	&__input
		height: 100%
		background: $primary-light
		width: 277px
		box-shadow: 0 3px 3px 0 rgba($primary-dark, 0.04)
		border: solid 0.5px rgba($primary-dark, 0.05)
		border-radius: 2px
		padding: 0 40px 0 18px
	&__wrap
		position: relative
		height: 100%
		@extend %l_flex--align-center
		@include font-size(14)
		font-weight: $weight-bold
		margin-right: 20px
	&__icon
		position: absolute
		right: 18px
		top: 13px
	&__number
		color: $primary-blue
		margin-right: 10px
	&__desc
		letter-spacing: 0.1px
		color: rgba($primary-dark, 0.37)