.sidebar
	position: fixed
	width: 198px
	height: 100%
	background: radial-gradient(circle at 0 0, $primary-blue, $primary-light-blue)
	box-shadow: inset -3px 0 6px 0 rgba($primary-dark, 0.09)
	&__logo
		@extend %l_flex--start
		height: 58px
		padding: 0 23px
		img
			&:first-of-type
				margin-right: 7px
	&__nav
		@include font-size(15)
		font-weight: $weight-bold
		margin-top: 24px
		padding: 0 16px 0 26px
		color: rgba($primary-light, 0.7)
	&__item
		height: auto
		margin-bottom: 9px
		transition: $transition-time
		&.active
			.sidebar__link
				box-shadow: inset 0 1px 1px 0 rgba($primary-dark, 0.11)
				border-radius: 4px
				background-color: $primary-navy-blue
		&.active,
		&:hover
			.sidebar__link
				color: $primary-light

	&__link
		@extend %l_flex--align-center
		padding: 0 15px
		min-height: 25px
		width: 100%

.sub-nav
	margin: 10px 30px
	&__link
		color: $primary-light
		@include font-size(13)
		font-weight: $weight-bold
		line-height: 1.15