.content-table
	background: $primary-light
	width: 100%
	height: auto
	@include font-size(14)
	line-height: 1
	border-radius: 5px
	box-shadow: 0 3px 3px 0 rgba($primary-dark, 0.04)
	border: solid 0.5px rgba($primary-dark, 0.05)
	&__head, &__row
		height: 58px
		padding: 0 60px 0 48px
		@extend %l_flex--space-between
	&__row
		&:first-of-type
			box-shadow: inset 0 -1px 0 0 rgba($primary-dark, 0.09)
			border-radius: 2px
		&:nth-child(2n)
			background: #fafbff
	&__item
		@extend %l_flex--align-center
		width: 100px
		flex: 0 0 auto
		&--align-right
			justify-content: flex-end
		&--uppercase
			text-transform: uppercase
		&:first-of-type
			width: 70px

.status
	position: relative
	min-width: 96px
	margin-right: 10px
	&:after
		content: ''
		position: absolute
		display: block
		width: 10px
		height: 10px
		border-radius: $round
		top: 3px
		right: 0
	&--success,
	&--error
		padding-right: 23px
	&--success
		color: $primary-green
		&:after
			background: $primary-green
	&--error
		color: $primary-red
		&:after
			background: $primary-red
