.wrapper
	height: 100%
	width: 100%
	display: flex

.content
	width: 100%
	height: 100%
	padding-left: 198px
	&__title
		color: $primary-light-blue
		font-weight: $weight-bold
		text-transform: uppercase
	&__headline
		height: 58px
		box-shadow: 0 2px 4px 0 rgba($primary-dark, 0.05)
		@extend %l_flex--center
		position: fixed
		width: calc(100% - 198px)
		background: $primary-light
		z-index: 5
	&__inner
		padding: 84px 38px 16px
		background: #f2f2f2
		height: auto
		min-height: 100%
	&__wrap
		height: 44px
		@extend %l_flex--space-between
		margin-bottom: 34px
