- var mainNav = ['Documentation','Settings','Support','Log out'];
- var subNav = ['Nice app 1']

mixin tableRow(title, role, service, company, status, date, actions)
	.content-table__row
		.content-table__item
			span=title
		.content-table__item.content-table__item--uppercase
			span=role
		.content-table__item
			span=service
		.content-table__item
			span=company
		if(status === 'Connected')
			.content-table__item.content-table__item--align-right.status.status--success
				span=status
		else if(status === 'Disconnected')
			.content-table__item.content-table__item--align-right.status.status--error
				span=status
		else
			.content-table__item.content-table__item--align-right.status
				span=status
		.content-table__item.content-table__item--align-right
			span=date
		if(actions === 'Actions')
			.content-table__item.content-table__item--align-right
				span=actions
		else
			.content-table__item.content-table__item--align-right
				a.more-info(href='#' title='More info')
					.more-info__dot
					.more-info__dot
					.more-info__dot
				a.edit(href='#' title='Edit')
					img(src='./img/svg/edit.svg' alt='Edit')

.wrapper
	aside.sidebar
		a.sidebar__logo(href='#' title='Logo')
			img(src='./img/svg/logo.svg' alt='Logo')
			img(src='./img/svg/logo-desc.svg' alt='Logo')
		ul.sidebar__nav
			li.sidebar__item.active
				a.sidebar__link(href='#', title='Application') Application
				for app in subNav
					ul.sub-nav
						li.sub-nav__item
							a.sub-nav__link(href='#', title=app)=app
			for item in mainNav
				li.sidebar__item
					a.sidebar__link(href='#' + item, title=item)=item

	main.content
		.content__headline
			a.back-link.btn.btn--light(href='#' title='Back') Back
			span.content__title Administration
		.content__inner
			.content__wrap
				form.search
					.search__wrap
						input.search__input(type="search" name="search" placeholder='Search for something…')
						img.search__icon(src='./img/svg/search.svg' alt='Search')
					.search__wrap
						span.search__number 4
						span.search__desc services enregistrés
				button.btn.btn--blue Add

			.content-table
				+tableRow('Title','Role','Service','Company', 'Status', 'Date', 'Actions')
				+tableRow('Title','Super_admin','Production','Aboutgoods', 'Connected', '19/02/2018')
				+tableRow('Title','Super_admin','Production','Aboutgoods', 'Connected', '19/02/2018')
				+tableRow('Title','User','Production','Charal', 'Connected', '19/02/2018')
				+tableRow('Title','Admin','Sales','Nestlé', 'Connected', '19/02/2018')
				+tableRow('Title','Admin','R&D','Aboutgoods', 'Connected', '19/02/2018')
				+tableRow('Title','User','Production','IRi', 'Disconnected', '19/02/2018')
				+tableRow('Title','Admin','Production','Aboutgoods', 'Connected', '19/02/2018')
				+tableRow('Title','User','Sales','SOGEC', 'Connected', '19/02/2018')
				+tableRow('Title','User','Sales','SOGEC', 'Disconnected', '19/02/2018')
