// Base styles

body
	height: 100%
	width: 100%
	font-family: $source-sans-pro

a
	text-decoration: none
	color: inherit
	transition: all $transition-time

input[type="search"]
	&::placeholder
		font-family: $source-sans-pro
		@include font-size(13)
		color: rgba($primary-dark, 0.14)
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration
		display: none