// Flex Properties

%l_flex--center {
	display: flex;
	justify-content: center;
	align-items: center;
 }

%l_flex--space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%l_flex--start {
	display: flex;
	justify-content: flex-start;
}

%l_flex--align-center {
	display: flex;
	align-items: center;
}