// Colors

$primary-blue: #3c52c9;
$primary-light-blue: #6b7dea;
$primary-navy-blue: #2438ab;
$primary-dark: #000;
$primary-light: #fff;
$primary-green: #86ee82;
$primary-red: #ff5867;

// Fonts
$source-sans-pro: 'Source Sans Pro', sans-serif;
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

// Misc

$transition-time: 0.3s;

// Border-radius

$round: 50%;